@import "./custom/file-header.css";
/**
 * The line above injects the WordPress file header. It needs to be first,
 * before this comment.
 */

/**
 * This injects custom `@font-face` rules.
 */
@import "./custom/fonts.css";

/**
 * This injects Tailwind's base styles and any base styles registered by
 * plugins, then adds custom base styles.
 */
@import "tailwindcss/base";
@import "./custom/base.css";

/**
 * This injects Tailwind's component classes and any component classes
 * registered by plugins, then adds custom component classes.
 *
 * The `@import-glob` line imports all CSS files from the `components`
 * directory (except for `components.css`, which is imported on the following
 * line). This is meant to simplify the process of integrating styles from
 * JavaScript components or WordPress plugins.
 */
@import "tailwindcss/components";
@import-glob "./custom/components/**/!(components).css";
@import "./custom/components/components.css";

/**
 * This injects Tailwind's utility classes and any utility classes registered
 * by plugins, then adds custom utility classes.
 */
@import "tailwindcss/utilities";
@import "./custom/utilities.css";

body {
	background: linear-gradient(
		to right,
		rgba(238, 238, 187, 0.2),
		rgba(212, 211, 220, 0.2)
	);
}

@keyframes slideInLeft {
	from {
		opacity: 0;
		transform: translateX(-100%);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes slideInRight {
	from {
		opacity: 0;
		transform: translateX(100%);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes heroSectionSlideInLeft {
	0% {
		opacity: 0;

		transform: translateX(-100%) translateY(50px);
	}
	75% {
		opacity: 1;
		transform: translateX(10px) translateY(50px);
	}
	100% {
		opacity: 1;
		transform: translateX(0) translateY(0);
	}
}

@keyframes heroSectionSlideInLeftY {
	0% {
		opacity: 0.8;

		transform: translateY(50px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes slideInXLeft {
	0% {
		opacity: 0.8;
		transform: translateX(-100%) translateY(250px);
	}
	50% {
		opacity: 1;
		transform: translateX(10px) translateY(50px);
	}
	/* 90% {
    opacity: 1;
    transform: translateX(5px) translateY(50px);
  } */

	100% {
		/* opacity: 1; */
		transform: translateX(0) translateY(50px);
	}
}

@keyframes slideInYLeft {
	0% {
		transform: translateX(0) translateY(50px);
	}
	100% {
		transform: translateX(0) translateY(0);
	}
}

@keyframes slideInXRight {
	0% {
		opacity: 0.8;
		transform: translateX(100%) translateY(250px);
	}
	50% {
		opacity: 1;
		transform: translateX(-10px) translateY(50px);
	}
	/* 90% {
    opacity: 1;
    transform: translateX(-5px) translateY(50px);
  } */

	100% {
		/* opacity: 1; */
		transform: translateX(0) translateY(50px);
	}
}

@keyframes slideInYRight {
	0% {
		transform: translateX(0) translateY(50px);
	}
	100% {
		transform: translateX(0) translateY(0);
	}
}

@keyframes revealDottedArrow {
	0% {
		stroke-dashoffset: 100%;
		opacity: 0;
	}

	100% {
		stroke-dashoffset: 0; /* Fully reveal the arrow */
		opacity: 1; /* Make the arrow fully visible */
	}
}

@keyframes slideInFromRight {
	from {
		transform: translateX(100%);
	}
	to {
		transform: translateX(0);
	}
}

@keyframes slideInLeft {
	from {
		transform: translateX(-5%);
	}
	to {
		transform: translateX(0);
	}
}

@keyframes aboutArrowInTop {
	from {
		opacity: 0;
		transform: translateY(-100%);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes whyTab {
	0% {
		transform: translateX(-5%);
	}
	100% {
		transform: translateX(0);
	}
}

@keyframes whoAmITab {
	0% {
		opacity: 0;
		transform: translateX(-150%);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes achievementTab {
	0% {
		opacity: 0;
		transform: translateX(-150%);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes teachingTab {
	0% {
		opacity: 0;
		transform: translateX(-150%);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes imageSlideInRight {
	from {
		opacity: 0;
		transform: translateX(100%) translateY(20%);
	}
	to {
		opacity: 1;
		transform: translateX(0) translateY(0);
	}
}

@layer utilities {
	/* .heroSectionIn {
    animation: heroSectionSlideInLeft 1s ease-in-out;
  } */

	.heroSectionIn {
		animation:
			slideInXLeft 1s cubic-bezier(0.21, 1, 0.85, 1) forwards,
			slideInYLeft 0.5s cubic-bezier(0.21, 1, 0.85, 1) 1.3s forwards;
	}

	.heroSectionRight {
		animation:
			slideInXRight 1s cubic-bezier(0.21, 1, 0.85, 1) forwards,
			slideInYRight 0.5s cubic-bezier(0.21, 1, 0.85, 1) 1.3s forwards;
	}

	.dotted-arrow path {
		stroke-dasharray: 100%;
		stroke-dashoffset: 100%;
		opacity: 0; /* Initially hide the arrow */
		animation: revealDottedArrow 3s linear 3s forwards; /* Adjust the delay as needed */
	}

	.slideInLeft {
		animation: slideInLeft 1s cubic-bezier(0.175, 0.885, 0.32, 1) forwards;
	}

	.arrowInTop {
		animation: aboutArrowInTop 1s cubic-bezier(0.175, 0.885, 0.32, 1)
			forwards;
	}

	.imageSlideInRight {
		animation: imageSlideInRight 1s cubic-bezier(0.175, 0.885, 0.32, 1)
			forwards;
	}

	/* Apply the animation to the elements */
	.whyTab {
		animation: whyTab 1s cubic-bezier(0.175, 0.885, 0.32, 1) forwards;
	}
	.whoAmITab {
		animation: whoAmITab 0.5s ease-in-out forwards;
	}
	.achievementTab {
		animation: achievementTab 0.5s ease-in-out forwards;
	}
	.teachingTab {
		animation: achievementTab 0.5s ease-in-out forwards;
	}

	/* .aos-init[data-aos='slideInFromRight'] {
    opacity: 1;
    transition-property: transform;
  }

  .aos-animate[data-aos='slideInFromRight'] {
    transform: translateX(0);
    animation-name: slideInFromRight;
  } */

	#introLeft {
		transform: translateX(-50%);
		transition: 1s;
	}

	#introIntroduction {
		transform: translateX(60%);
		transition: 1s;
	}
	#introContent {
		transform: translateX(70%);
		transition: 1s;
	}
	#introButton {
		transform: translateX(80%);
		transition: 1s;
	}
	#introQuestion {
		transform: translateX(60%);
		transition: 1s;
	}

	#reviewsSection {
		opacity: 0.1;
	}
	#reviewsHeading {
		transform: translateY(100%);
		transition: 2s;
	}
	#reviewsTitle {
		transform: translateY(100%);
		transition: 2s;
	}
	#reviewsSubTitle {
		transform: translateY(300%);
		transition: 2s;
	}
	#reviewsContent {
		transform: translateY(10%);
		transition: 2s;
	}

	#reviewsButton {
		transform: translateY(100%);
		transition: 2s;
	}

	#valueSection {
		opacity: 0.1;
	}

	#valueSubHeading {
		transform: translateY(100%);
		transition: 2s;
	}
	#valueTitle {
		transform: translateY(100%);
		transition: 2s;
	}
	#valueHeading3 {
		transform: translateY(300%);
		transition: 2s;
	}
	#valueContent {
		transform: translateY(10%);
		transition: 2s;
	}
	#valueButton {
		transform: translateY(100%);
		transition: 2s;
	}

	#statsSection {
		opacity: 0.1;
	}

	#statsSubHeading {
		transform: translateY(100%);
		transition: 2s;
	}
	#statsTitle {
		transform: translateY(100%);
		transition: 2s;
	}
	#statsHeading3 {
		transform: translateY(300%);
		transition: 2s;
	}
	#statsContent {
		transform: translateY(10%);
		transition: 2s;
	}

	#successSection {
		opacity: 0.1;
	}
	#successSubHeading {
		transform: translateY(100%);
		transition: 2s;
	}
	#successTitle {
		transform: translateY(100%);
		transition: 2s;
	}
	#successHeading3 {
		transform: translateY(300%);
		transition: 2s;
	}
	#successContent {
		transform: translateY(10%);
		transition: 2s;
	}

	#blogsSection {
		opacity: 0.1;
	}
	#blogsSubHeading {
		transform: translateY(100%);
		transition: 2s;
	}
	#blogsTitle {
		transform: translateY(100%);
		transition: 2s;
	}
	#blogsHeading3 {
		transform: translateY(300%);
		transition: 2s;
	}
	#blogsContent {
		transform: translateY(10%);
		transition: 2s;
	}
	#blogsButton {
		transform: translateY(100%);
		transition: 2s;
	}

	#contactSection {
		opacity: 0.1;
	}
	#contactSubHeading {
		transform: translateY(100%);
		transition: 2s;
	}
	#contactTitle {
		transform: translateY(100%);
		transition: 2s;
	}
	#contactHeading3 {
		transform: translateY(300%);
		transition: 2s;
	}
	#contactContent {
		transform: translateY(10%);
		transition: 2s;
	}

	.masonry {
		column-gap: 1.5em;
		column-count: 2;
	}
	.masonry-sm {
		column-gap: 1.5em;
		column-count: 2;
	}
	.masonry-md {
		column-gap: 1.5em;
		column-count: 3;
	}
	.break-inside {
		break-inside: avoid;
	}
	.whyUs {
		background:
			linear-gradient(
				0deg,
				rgba(0, 0, 0, 0.3) 0%,
				rgba(0, 0, 0, 0) 66.62%
			),
			linear-gradient(
				0deg,
				rgba(0, 0, 0, 0.5) 0%,
				rgba(0, 0, 0, 0.5) 100%
			),
			url(<path-to-image>),
			lightgray 50% / cover no-repeat;
	}

	.scrollAnimationLeft {
		animation: slideInLeft 0.5s ease-in-out;
		animation-timeline: view();
		animation-range: entry;
	}

	.scrollAnimationRight {
		animation: slideInRight 0.5s ease-in-out;
		animation-timeline: view();
		animation-range: entry;
	}
}

.wpcf7 {
	@apply pt-[16.5px] flex flex-col gap-[38px];
}

.wpcf7-custom-form {
	@apply flex flex-col gap-[13px];
}

.wpcf7-custom-form input {
	@apply md:w-[440px] lg:w-[421px] p-[10px] border rounded-[4px] border-solid border-grey-300 bg-surface-primary text-captionBig font-captionBig;
}

.wpcf7-custom-form textarea {
	@apply md:w-[440px] lg:w-[421px] h-[120px] pt-[17px] pl-[10px] pb-[11px] pr-[16px] border rounded-[4px] border-solid border-grey-300 bg-surface-primary text-captionBig font-captionBig;
}

.wpcf7-custom-form input[type="submit"] {
	@apply w-auto bg-cta-default rounded-[60px] py-[16px] px-[32px] text-primary-dark font-button;
}

.contact-button {
	--tw-bg-opacity: 1;
	background-color: rgb(217 55 38 / var(--tw-bg-opacity));
	border-radius: 60px;
	padding-top: 16px;
	padding-bottom: 16px;
	padding-left: 32px;
	padding-right: 32px;
	--tw-bg-opacity: 1;
	background-color: rgb(200 74 61 / var(--tw-bg-opacity));
	color: white;
	font-weight: 600;
}

.contact-button:hover {
	background-color: #d93726;
	cursor: pointer;
}

.contact-button:active {
	--tw-bg-opacity: 1;
	background-color: rgb(235 77 61 / var(--tw-bg-opacity));
}

@media (min-width: 640px) {
	.contact-name,
	.contact-city,
	.contact-email,
	.contact-source,
	.contact-phone,
	.contact-message {
		width: 440px;
	}
}

@media (min-width: 1024px) {
	.contact-name,
	.contact-city,
	.contact-email,
	.contact-source,
	.contact-phone,
	.contact-message {
		width: 421px;
	}
}

.contact-name,
.contact-city,
.contact-email,
.contact-source,
.contact-phone,
.contact-message {
	padding: 10px;
	border-width: 1px;
	border-radius: 4px;
	border-style: solid;
	--tw-bg-opacity: 1;
	background-color: rgb(252 252 252 / var(--tw-bg-opacity));
	font-size: 14px;
	font-weight: 500;
	margin-bottom: 16px;
}

.isActive .flipImage {
	transform: rotateY(180deg);
	transition: 1s;
}

.isActive:hover .flipImage {
	transform: rotateY(180deg);
	transition: 1s;
}

.flipDiv {
	transform: rotateY(180deg);
	transition: 1s;
}

:not(.isActive) .flipImage {
	transform: rotateY(0deg);
	transition: 1s;
}

.isActive .flipImage {
	transition-delay: 1.5s;
}

.isActive .flipImage:hover {
	transition-delay: 0s;
}

.flipCardTransform {
	transition: transform 0.8s;
	transform-style: preserve-3d;
}

.perspective {
	perspective: 1000px;
}

.hiddenBackface {
	backface-visibility: hidden;
}

.isActiveImageLeft {
	position: absolute;
	transition: 0.6s;
	transform: scale(0.7);
	opacity: 0.6;
}

.isActiveImageRight {
	position: absolute;
	transition: 0.6s;
	transform: scale(0.7);
	opacity: 0.6;
}

.isActiveImageLeft::before,
.isActiveImageRight::before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 100;
	background: rgba(0, 0, 0, 0.9);
}

.isActive {
	position: absolute;
	left: 50%;
	z-index: 100;
	transform: translateX(-50%);
	transition: 1s;
	height: 100%;
}

@screen sm {
	.isActiveImageLeft {
		left: -80%;
	}

	.isActiveImageRight {
		right: -80%;
	}
}

@screen md {
	.isActiveImageLeft {
		position: absolute;
		left: -45%;
	}

	.isActiveImageRight {
		position: absolute;
		right: -45%;
	}
}

@media (min-width: 640px) and (max-width: 680px) {
	.isActiveImageLeft {
		position: absolute;
		left: -75%;
	}

	.isActiveImageRight {
		position: absolute;
		right: -75%;
	}
}

@media (min-width: 680px) and (max-width: 710px) {
	.isActiveImageLeft {
		position: absolute;
		left: -70%;
	}

	.isActiveImageRight {
		position: absolute;
		right: -70%;
	}
}

@media (min-width: 710px) and (max-width: 756px) {
	.isActiveImageLeft {
		position: absolute;
		left: -65%;
	}

	.isActiveImageRight {
		position: absolute;
		right: -65%;
	}
}

@media (min-width: 756px) and (max-width: 865px) {
	.isActiveImageLeft {
		position: absolute;
		left: -58%;
	}

	.isActiveImageRight {
		position: absolute;
		right: -58%;
	}
}

@screen lg {
	.isActiveImageLeft {
		position: absolute;
		left: -55%;
	}

	.isActiveImageRight {
		position: absolute;
		right: -55%;
	}
}

@media (min-width: 1024px) and (max-width: 1101px) {
	.isActiveImageLeft {
		position: absolute;
		left: -73%;
	}

	.isActiveImageRight {
		position: absolute;
		right: -73%;
	}
}

@media (min-width: 1101px) and (max-width: 1165px) {
	.isActiveImageLeft {
		position: absolute;
		left: -67%;
	}

	.isActiveImageRight {
		position: absolute;
		right: -67%;
	}
}

@media (min-width: 1165px) and (max-width: 1220px) {
	.isActiveImageLeft {
		position: absolute;
		left: -60%;
	}

	.isActiveImageRight {
		position: absolute;
		right: -60%;
	}
}

@screen xl {
	.isActiveImageLeft {
		position: absolute;
		left: -45%;
	}

	.isActiveImageRight {
		position: absolute;
		right: -45%;
	}
}

@media (min-width: 1441px) and (max-width: 1520px) {
	.isActiveImageLeft {
		position: absolute;
		left: -55%;
	}

	.isActiveImageRight {
		position: absolute;
		right: -55%;
	}
}

@screen 2xl {
	.isActiveImageLeft {
		position: absolute;

		left: -30%;
	}

	.isActiveImageRight {
		position: absolute;

		right: -30%;
	}
}

.inactive {
	display: none;
}
