@import "./custom/file-header.css";
/**
 * The line above injects the WordPress file header. It needs to be first,
 * before this comment.
 */

/**
 * This injects custom `@font-face` rules.
 */
@import "./custom/fonts.css";

/**
 * This injects Tailwind's base styles and any base styles registered by
 * plugins, then adds custom base styles.
 */
@import "tailwindcss/base";
@import "./custom/base.css";

/**
 * This injects Tailwind's component classes and any component classes
 * registered by plugins, then adds custom component classes.
 *
 * The `@import-glob` line imports all CSS files from the `components`
 * directory (except for `components.css`, which is imported on the following
 * line). This is meant to simplify the process of integrating styles from
 * JavaScript components or WordPress plugins.
 */
@import "tailwindcss/components";
@import-glob "./custom/components/**/!(components).css";
@import "./custom/components/components.css";

/**
 * This injects Tailwind's utility classes and any utility classes registered
 * by plugins, then adds custom utility classes.
 */
@import "tailwindcss/utilities";
@import "./custom/utilities.css";

html {
	scroll-behavior: smooth;
}

.homePage {
	background: linear-gradient(
		to right,
		rgba(238, 238, 187, 0.2),
		rgba(212, 211, 220, 0.2)
	);
}

@keyframes slideInLeft {
	from {
		opacity: 0;
		transform: translateX(-100%);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes slideInRight {
	from {
		opacity: 0;
		transform: translateX(100%);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes heroSectionSlideInLeft {
	0% {
		opacity: 0;

		transform: translateX(-100%) translateY(50px);
	}
	75% {
		opacity: 1;
		transform: translateX(10px) translateY(50px);
	}
	100% {
		opacity: 1;
		transform: translateX(0) translateY(0);
	}
}

@keyframes heroSectionSlideInLeftY {
	0% {
		opacity: 0.8;

		transform: translateY(50px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes slideInXLeft {
	0% {
		opacity: 0.8;
		transform: translateX(-150%) translateY(250px);
	}
	50% {
		opacity: 1;
		transform: translateX(10px) translateY(50px);
	}
	/* 90% {
    opacity: 1;
    transform: translateX(5px) translateY(50px);
  } */

	100% {
		/* opacity: 1; */
		transform: translateX(0) translateY(50px);
	}
}

@keyframes slideInYLeft {
	0% {
		transform: translateX(0) translateY(50px);
	}
	100% {
		transform: translateX(0) translateY(0);
	}
}

@keyframes slideInXRight {
	0% {
		opacity: 0.8;
		transform: translateX(100%) translateY(250px);
	}
	50% {
		opacity: 1;
		transform: translateX(-10px) translateY(50px);
	}
	/* 90% {
    opacity: 1;
    transform: translateX(-5px) translateY(50px);
  } */

	100% {
		/* opacity: 1; */
		transform: translateX(0) translateY(50px);
	}
}

@keyframes slideInYRight {
	0% {
		transform: translateX(0) translateY(50px);
	}
	100% {
		transform: translateX(0) translateY(0);
	}
}

@keyframes revealDottedArrow {
	0% {
		stroke-dashoffset: 100%;
		opacity: 0;
	}

	100% {
		stroke-dashoffset: 0; /* Fully reveal the arrow */
		opacity: 1; /* Make the arrow fully visible */
	}
}

@keyframes slideInFromRight {
	from {
		transform: translateX(100%);
	}
	to {
		transform: translateX(0);
	}
}

@keyframes slideInLeft {
	from {
		transform: translateX(-5%);
	}
	to {
		transform: translateX(0);
	}
}

@keyframes aboutArrowInTop {
	from {
		opacity: 0;
		transform: translateY(-100%);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes whyTab {
	0% {
		transform: translateX(-5%);
	}
	100% {
		transform: translateX(0);
	}
}

@keyframes whoAmITab {
	0% {
		opacity: 0;
		transform: translateX(-150%);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes achievementTab {
	0% {
		opacity: 0;
		transform: translateX(-150%);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes teachingTab {
	0% {
		opacity: 0;
		transform: translateX(-150%);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes imageSlideInRight {
	from {
		opacity: 0;
		transform: translateX(100%) translateY(20%);
	}
	to {
		opacity: 1;
		transform: translateX(0) translateY(0);
	}
}

@keyframes moveUp {
	0% {
		transform: translateX(0) translateY(100px);
	}
	100% {
		transform: translateX(0) translateY(0);
	}
}

@layer utilities {
	/* .heroSectionIn {
    animation: heroSectionSlideInLeft 1s ease-in-out;
  } */
	.heroSectionInTitle {
		animation:
			slideInXLeft 1s cubic-bezier(0.21, 1, 0.85, 1) forwards,
			slideInYLeft 0.5s cubic-bezier(0.21, 1, 0.85, 1) 1.3s forwards;
	}

	.heroSectionInContent {
		animation:
			slideInXLeft 1s cubic-bezier(0.21, 1, 0.85, 1) 0.1s forwards,
			slideInYLeft 0.5s cubic-bezier(0.21, 1, 0.85, 1) 1.3s forwards;
	}

	.heroSectionInButton {
		animation:
			slideInXLeft 1s cubic-bezier(0.21, 1, 0.85, 1) 0.125s forwards,
			slideInYLeft 0.5s cubic-bezier(0.21, 1, 0.85, 1) 1.3s forwards;
	}

	/* .heroSectionIn {
		animation:
			slideInXLeft 1s cubic-bezier(0.21, 1, 0.85, 1) forwards,
			slideInYLeft 0.5s cubic-bezier(0.21, 1, 0.85, 1) 1.3s forwards;
	} */

	.heroSectionRightImage {
		animation:
			slideInXRight 1s cubic-bezier(0.21, 1, 0.85, 1) forwards,
			slideInYRight 0.5s cubic-bezier(0.21, 1, 0.85, 1) 1.3s forwards;
	}

	.heroSectionRightReview {
		animation:
			slideInXRight 1s cubic-bezier(0.21, 1, 0.85, 1) 0.1s forwards,
			slideInYRight 0.5s cubic-bezier(0.21, 1, 0.85, 1) 1.3s forwards;
	}

	.heroSectionRightGray {
		animation:
			slideInXRight 1s cubic-bezier(0.21, 1, 0.85, 1) 0.125s forwards,
			slideInYRight 0.5s cubic-bezier(0.21, 1, 0.85, 1) 1.3s forwards;
	}

	.scoreCardSectionUp {
		transform: translateY(200px); /* Initial state */
		animation: moveUp 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) 1.3s
			forwards;
	}

	/* .heroSectionRight {
		animation:
			slideInXRight 1s cubic-bezier(0.21, 1, 0.85, 1) forwards,
			slideInYRight 0.5s cubic-bezier(0.21, 1, 0.85, 1) 1.3s forwards;
	} */

	.dotted-arrow path {
		stroke-dasharray: 100%;
		stroke-dashoffset: 100%;
		opacity: 0; /* Initially hide the arrow */
		animation: revealDottedArrow 3s linear 3s forwards; /* Adjust the delay as needed */
	}

	.slideInLeft {
		animation: slideInLeft 1s cubic-bezier(0.175, 0.885, 0.32, 1) forwards;
	}

	.arrowInTop {
		animation: aboutArrowInTop 1s cubic-bezier(0.175, 0.885, 0.32, 1)
			forwards;
	}

	.imageSlideInRight {
		animation: imageSlideInRight 1s cubic-bezier(0.175, 0.885, 0.32, 1)
			forwards;
	}

	/* Apply the animation to the elements */
	.whyTab {
		animation: whyTab 1s cubic-bezier(0.175, 0.885, 0.32, 1) forwards;
	}
	.whoAmITab {
		animation: whoAmITab 0.5s ease-in-out forwards;
	}
	.achievementTab {
		animation: achievementTab 0.5s ease-in-out forwards;
	}
	.teachingTab {
		animation: achievementTab 0.5s ease-in-out forwards;
	}

	/* .aos-init[data-aos='slideInFromRight'] {
    opacity: 1;
    transition-property: transform;
  }

  .aos-animate[data-aos='slideInFromRight'] {
    transform: translateX(0);
    animation-name: slideInFromRight;
  } */

	#introLeft {
		transform: translateX(-50%);
		transition: 1s;
	}

	#introIntroduction {
		transform: translateX(60%);
		transition: 1s;
	}
	#introContent {
		transform: translateX(70%);
		transition: 1s;
	}
	#introButton {
		transform: translateX(80%);
		transition: 1s;
	}
	#introQuestion {
		transform: translateX(60%);
		transition: 1s;
	}

	#reviewsSection {
		opacity: 0.1;
	}
	#reviewsHeading {
		transform: translateY(100%);
		transition: 2s;
	}
	#reviewsTitle {
		transform: translateY(100%);
		transition: 2s;
	}
	#reviewsSubTitle {
		transform: translateY(300%);
		transition: 2s;
	}
	#reviewsContent {
		transform: translateY(10%);
		transition: 2s;
	}

	#reviewsButton {
		transform: translateY(100%);
		transition: 2s;
	}

	#videosSection {
		opacity: 0.1;
	}
	#videosHeading {
		transform: translateY(100%);
		transition: 2s;
	}
	#videosTitle {
		transform: translateY(100%);
		transition: 2s;
	}
	#videosSubTitle {
		transform: translateY(300%);
		transition: 2s;
	}
	#videosContent {
		transform: translateY(10%);
		transition: 2s;
	}

	#videosContent iframe {
		height: 100%;
		width: 100%;
	}

	#videosButton {
		transform: translateY(100%);
		transition: 2s;
	}


	#valueSection {
		opacity: 0.1;
	}

	#valueSubHeading {
		transform: translateY(100%);
		transition: 2s;
	}
	#valueTitle {
		transform: translateY(100%);
		transition: 2s;
	}
	#valueHeading3 {
		transform: translateY(300%);
		transition: 2s;
	}
	#valueContent {
		transform: translateY(10%);
		transition: 2s;
	}
	#valueButton {
		transform: translateY(100%);
		transition: 2s;
	}

	#statsSection {
		opacity: 0.1;
	}

	#statsSubHeading {
		transform: translateY(100%);
		transition: 2s;
	}
	#statsTitle {
		transform: translateY(100%);
		transition: 2s;
	}
	#statsHeading3 {
		transform: translateY(300%);
		transition: 2s;
	}
	#statsContent {
		transform: translateY(10%);
		transition: 2s;
	}

	#successSection {
		opacity: 0.1;
	}
	#successSubHeading {
		transform: translateY(100%);
		transition: 2s;
	}
	#successTitle {
		transform: translateY(100%);
		transition: 2s;
	}
	#successHeading3 {
		transform: translateY(300%);
		transition: 2s;
	}
	#successContent {
		transform: translateY(10%);
		transition: 2s;
	}

	#blogsSection {
		opacity: 0.1;
	}
	#blogsSubHeading {
		transform: translateY(100%);
		transition: 2s;
	}
	#blogsTitle {
		transform: translateY(100%);
		transition: 2s;
	}
	#blogsHeading3 {
		transform: translateY(300%);
		transition: 2s;
	}
	#blogsContent {
		transform: translateY(10%);
		transition: 2s;
	}
	#blogsButton {
		transform: translateY(100%);
		transition: 2s;
	}

	#contactSection {
		opacity: 0.1;
	}
	#contactSubHeading {
		transform: translateY(100%);
		transition: 2s;
	}
	#contactTitle {
		transform: translateY(100%);
		transition: 2s;
	}
	#contactHeading3 {
		transform: translateY(300%);
		transition: 2s;
	}
	#contactContent {
		transform: translateY(10%);
		transition: 2s;
	}

	.masonry {
		column-gap: 1.5em;
		column-count: 2;
	}
	.masonry-sm {
		column-gap: 1.5em;
		column-count: 2;
	}
	.masonry-md {
		column-gap: 1.5em;
		column-count: 3;
	}
	.break-inside {
		break-inside: avoid;
	}
	.whyUs {
		background:
			linear-gradient(
				0deg,
				rgba(0, 0, 0, 0.3) 0%,
				rgba(0, 0, 0, 0) 66.62%
			),
			linear-gradient(
				0deg,
				rgba(0, 0, 0, 0.5) 0%,
				rgba(0, 0, 0, 0.5) 100%
			),
			url(<path-to-image>),
			lightgray 50% / cover no-repeat;
	}

	.scrollAnimationLeft {
		animation: slideInLeft 0.5s ease-in-out;
		animation-timeline: view();
		animation-range: entry;
	}

	.scrollAnimationRight {
		animation: slideInRight 0.5s ease-in-out;
		animation-timeline: view();
		animation-range: entry;
	}
}

.wpcf7 {
	@apply flex flex-col gap-[38px];
}

.wpcf7-custom-form {
	@apply flex flex-col gap-[13px];
}

.wpcf7-custom-form input {
	@apply md:w-[440px] lg:w-[421px] p-[10px] border rounded-[4px] border-solid border-grey-300 bg-surface-primary text-captionBig font-captionBig;
}

.wpcf7-custom-form textarea {
	@apply md:w-[440px] lg:w-[421px] h-[120px] pt-[17px] pl-[10px] pb-[11px] pr-[16px] border rounded-[4px] border-solid border-grey-300 bg-surface-primary text-captionBig font-captionBig;
}

.wpcf7-custom-form input[type="submit"] {
	@apply w-auto bg-cta-default rounded-[60px] py-[16px] px-[32px] text-primary-dark font-button;
}

.contact-button {
	--tw-bg-opacity: 1;
	background-color: rgb(217 55 38 / var(--tw-bg-opacity));
	border-radius: 60px;
	padding-top: 16px;
	padding-bottom: 16px;
	padding-left: 32px;
	padding-right: 32px;
	--tw-bg-opacity: 1;
	background-color: rgb(200 74 61 / var(--tw-bg-opacity));
	color: white;
	font-weight: 600;
}

.contact-button:hover {
	background-color: #d93726;
	cursor: pointer;
}

.contact-button:active {
	--tw-bg-opacity: 1;
	background-color: rgb(235 77 61 / var(--tw-bg-opacity));
}

@media (min-width: 640px) {
	.contact-name,
	.contact-city,
	.contact-email,
	.contact-source,
	.contact-phone,
	.contact-message {
		width: 440px;
	}
}

@media (min-width: 1024px) {
	.contact-name,
	.contact-city,
	.contact-email,
	.contact-source,
	.contact-phone,
	.contact-message {
		width: 421px;
	}
}

.contact-name,
.contact-city,
.contact-email,
.contact-source,
.contact-phone,
.contact-message {
	padding: 10px;
	border-width: 1px;
	border-radius: 4px;
	border-style: solid;
	--tw-bg-opacity: 1;
	background-color: rgb(252 252 252 / var(--tw-bg-opacity));
	font-size: 14px;
	font-weight: 500;
	margin-bottom: 16px;
}

/* @keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
} */

@keyframes slideInLeft {
	0% {
		transform: translateX(-100%);
	}
	100% {
		transform: translateX(0);
	}
}

@keyframes slideInRight {
	0% {
		transform: translateX(100%);
	}
	100% {
		transform: translateX(0);
	}
}

.successStoriesShadow {
	box-shadow: 0px 4px 17px 0px rgba(0, 0, 0, 0.05);
}

.swiper-slide-active {
	height: 621px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.swiper-slide img {
	height: 100%;
}

.swiper-slide-active img {
	height: auto;
}

.swiper-slide {
	height: 500px;
}

.swiper-slide-prev,
.swiper-slide-next {
	position: relative;
}

.swiper-slide-prev {
	display: flex;
	justify-content: flex-end;
}

.swiper-slide-next {
	display: flex;
	justify-content: flex-start;
}

.swiper-slide-prev::before,
.swiper-slide-next::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
	background-color: rgba(0, 0, 0, 0.5);
}

@keyframes imageZoomIn {
	from {
		transform: scale(1.2, 1.2);
	}

	to {
		transform: scale(1, 1);
	}
}

@keyframes slideInRightText {
	to {
		margin-left: 0px;
	}
}

#contactButton input[type="submit"] {
	@apply bg-cta-default hover:bg-cta-800 active:bg-cta-400 rounded-[60px] py-[16px] px-[32px] text-primary-dark font-button;
}
